# Manager configuration
PORT=8080

# Admin credentials
ADMIN_USERNAME=admin

# Generate a bcrypt hash for your password and put it here
ADMIN_PASSWORD_HASH=

# Reality configuration (Syncs to DB on start)
REALITY_PUBLIC_KEY=
REALITY_PRIVATE_KEY=
REALITY_SHORT_ID=

# Public Server Address (IP or Domain) for subscription links
SERVER_ADDRESS=
